/* Default values shown */
passage-auth {
  /* Passage Container Styles */
  --passage-container-background: transparent;
  --passage-container-max-width: 220px;
  --passage-container-margin: auto;
  --passage-container-padding: 30px 30px 20px;
  --passage-error-color: #ff0000;

  /* Body Font Styles */
  --passage-body-font-family: "DM Sans", BlinkMacSystemFont, -apple-system,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --passage-body-font-size: 14px;
  --passage-body-font-weight: 400;
  --passage-body-text-color: #4C9FC1;

  /* Header Font Styles */
  --passage-header-font-family: "DM Sans", BlinkMacSystemFont, -apple-system,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --passage-header-font-weight: 700;
  --passage-header-text-color: #A1A7B0;
  --passage-header-font-size: 24px;

  /* Button Styles */
  --passage-button-font-size: 16px;
  --passage-button-font-weight: 400;
  --passage-button-width: 100%;
  --passage-button-border-radius: 12px;

  /* Color Palette */
  --passage-onprimary-color: #fff; /* text color on primary control background */
  --passage-primary-color: #4C9FC1; /* main color used for controls */

  --passage-onhover-color: #fff;
  --passage-hover-color: #328191;

  --passage-onactive-color: #fff;
  --passage-active-color: #6b6b6b;

  /* Email and Phone Input Box Styles */
  --passage-control-border-radius: 5px;
  --passage-control-border-color: #dbdbdb;
}

.mainContainer {
  padding-top: 60px;
  padding-left: 185px;
  padding-right: 185px;
  display: flex;
  flex-direction: column;
}
.authContainer {
  background-color: white;
  width: 400px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 25px;
  border: 1px solid #b7b7b7;
  box-shadow: 2px 4px #b7b7b7;
}

